/* Основний контейнер */
.container {
    max-width: 700px;
    background-color: #FFE3E3;
    border-radius: 1.3em;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Текст Fancy Box */
h1 {
    text-align: center;
    color: #FF69B4;
    font-family: 'Arial', sans-serif;
}

/* Вміст контейнера */
.content {
    text-align: absolute;
    background-color: #FFC0CB;
    border: 2px solid #FF69B4;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

/* Заголовок рамки */
.content-title {
    background-color: #FF69B4;
    color: #FFFFFF;
    padding: 5px 10px;
    font-size: 12px;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    text-align: left;
}

/* Іконки керування вікном */
.window-controls {
    position: absolute;
    top: 5px;
    right: 5px;
}

.window-controls span {
    color: #C71585;
    margin-right: 4px;
    font-size: 14px;
    cursor: pointer;
}

.window-controls span:hover {
    color: #FF69B4;
}
