/* Основні стилі */
body {
    background-color: #FFFFFF;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding-top: 30px;
}

h1 {
    color: #ff69b4;
    font-size: 32px;
    margin: 0;
}

h2 {
    color: #ff69b4;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Секція Топ 10 */
.top-10-container {
    display: inline-block;
    text-align: center;
    background-color: #ffe4e1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-10-image {
    width: 200px;
    height: auto;
}

.list-container {
    background-color: #ffb6c1;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.list-container p {
    margin: 0;
    font-size: 20px;
    color: #ff69b4;
}

.columns {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
}

ol {
    padding-left: 0;
}

ol li {
    text-align: left;
    font-size: 18px;
    color: #ff69b4;
    list-style-position: inside;
}

ol li a {
    text-decoration: none;
    color: #ff69b4;
}

ol li a:hover {
    text-decoration: underline;
}
